@model IQueryable<Car>
@{
    ViewBag.Title = "Car List";
}
<a asp-controller="Cars" asp-action="AddEdit"
   class="btn btn-primary">Add New</a>
<h1>Car List</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th><a asp-controller="Cars" asp-action="SortBy" asp-route-id="ID">ID</a></th>
            <th><a asp-controller="Cars" asp-action="SortBy" asp-route-id="MakeModel">Make - Model</a></th>
            <th><a asp-controller="Cars" asp-action="SortBy" asp-route-id="Year">Year</a></th>
            <th><a asp-controller="Cars" asp-action="SortBy" asp-route-id="Price">Price</a></th>
            <th><a asp-controller="Cars" asp-action="SortBy" asp-route-id="Mileage">Mileage</a></th>
            <th><a asp-controller="Cars" asp-action="SortBy" asp-route-id="Color">Color</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in @Model)
        {
            <tr>
                <td>@car.ID</td>
                <td><a asp-controller="Cars" asp-action="Detail" asp-route-id=@car.ID>@car.MakeModel</a></td>
                <td>@car.Year</td>
                <td>@car.Price</td>
                <td>@car.Mileage</td>
                <td>@car.Color</td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index"
   class="btn btn-primary">Home</a>
